*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.formulario{
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: gray 4px 4px 4px;
}
.formulario input{
    margin-top: 10px;
    margin-bottom: 10px;

}
.input1, .input2, .input3{
    box-shadow: gray 2px 2px 5px;
    border-radius: 5px;
    height: 40px;
    border: none;
    border-bottom: 0.3px solid #000;
}
.Pasos-informacion{
    width: 50%;
}
.video-informacion{
   width: 30%;
}


