*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background: #CAC531;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Cabio 15 agregamos los estilos (ya act.)*/
.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: gray 4px 4px 4px;
    position: fixed;
    top: 0;
}
.header-p{
display: flex;
justify-content: space-around;
   
}
.header-p img{
padding-left: 2px;
margin-right: 2px;
padding-top: 3px;
}
.header p{
    padding-top: 11px;
    height: 40px;
    text-align: center;
    font-size: 100%;
    
}

.header-nav a{
list-style: none;
color: black;
text-decoration: none;

}
.header-nav li{
    width: 50px;
    height: 40px;
    background-color: aqua;
    text-align: center;
    padding-top: 10px;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 3px;   
}

/* hasta aqui*/

.titulo{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    /* agregar estos dos estilos (ya act.)*/
    margin-top: 70px;
    padding-top: 25px;
    
}

.formulario{
    text-align: center;
    margin-top: 10px;
    background-color: aqua;
    border-radius: 10px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: gray 4px 4px 4px;
}
.formulario input{
margin-top: 10px;
margin-bottom: 10px;

}
.input1, .input2, .input3{
    box-shadow: gray 2px 2px 5px;
    border: 0.5px solid black;
    border-radius: 5px;
    height: 23px;
}
.Title{
    text-align: center;
    margin-top: 30px;
}
.boton{
    
    color: black;
    margin-top: 10px;
    width: 50px;
    box-shadow: black 4px 4px 4px;
}

.intrucciones{
    margin-top: 30px;
    /*agregar lo siguiente (ya act.)*/
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
/*hasta aqui*/
}
.intrucciones2{
/*agregar lo siguiente (ya act.)*/
margin-left: auto;
margin-right: auto;
width: 80%;
font-size: 120%;
/*hasta aqui*/

}
.intrucciones li{
    margin-left: 18px;
    margin-top: 10px;
}
.intrucciones2 li{
    margin-left: 18px;
    margin-top: 10px;
}
.espacio{
    margin-top: 5px;
}

.boton_2{
    display: block;
margin-top: 5px;    
margin-left: calc(50% - 40px);
background-color: black;
color: white;
box-shadow: gray 4px 4px 4px;
}
.list{
    margin-left: calc(50% - 155px);
    margin-top: 10px;
    max-width: 315px;
}
.informacion{
    margin-top: 35px;
    text-align:justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.informacion h3{/*cambiar a un h3 (ya act.*/
    margin-bottom: 20px;
    /*agregar esto (ya act.)*/
width: 80%;
margin-left: auto;
margin-right: auto;
/*hasta aqui*/
}

.fondo1{
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 10px;
}

/*Agregar el estilo de video ()*/
.video{
    
    padding-top: 30px;
    padding-bottom: 15px;
    background: white;
    display: flex;
    height: 480px;
    width: 450px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.video video{
width: 400px;
height: 400px;
margin-left: 20px;
margin-right: 20px;
}
.video img{
    width: 400px;
    height: 400px;
    margin-right: 20px;
}
.cantidad1{
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(210, 210, 210);
    height: 18px;
    position: relative;
    bottom: 12px;
    right: 15px;
    
        }









        
/* hasta esta parte*/

/*agregar la parte de estilos del footer (ya act.)*/
.footer{
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: grid;
grid-template-columns: repeat(2, 60px 20);
grid-template-rows: repeat(2, 25px);
column-gap: 3px;
row-gap: 3px;
justify-items: center;
align-items: center;
justify-content: center;
box-shadow: gray 5px 5px 5px 8px;
margin-top: 60px;
padding-bottom: 10px;
}
/*hasta aqui*/



/*agregar este cambio (ya act.)*/
.articleA{
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 120%;
}
.articleB{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
    }

    /*hasta aqui*/


    .fondo_publi{
        width: 100%;
        background: #a8ff78;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 25px;
    }


    .publicidad{
        width: 30%;
        background: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }
    .imagen_publicidad{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        padding-left: 35px;
    }
    .parrafo_publicidad{
        padding-top: 10px;
        padding-bottom: 4px;
        text-align: center;
    }
    .eliminar{
        background: transparent;
        border: solid 1px black;
        width: 20px;
        height: 20px;
        text-align: center;
        padding-bottom: 3px;
        border-radius: 3px;
        cursor: pointer;
    }
    .padre_eliminar{
    padding-left: 20px;
    
    }