.fondo_publi{
    width: 100%;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
}


.publicidad{
    width: 30%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.imagen_publicidad{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-left: 35px;
}
.parrafo_publicidad{
    padding-top: 10px;
    padding-bottom: 4px;
    text-align: center;
}
.eliminar{
    background: transparent;
    border: solid 1px black;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-bottom: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.padre_eliminar{
padding-left: 20px;

}